.TopBarContainer{
    
    padding: 0.2rem;
    display: grid;
    grid-template-columns:  1fr 12fr 1fr;
    align-items: center;
    justify-items: center;
}

.LSection{
    justify-self: start;
}

.MSection{
    justify-self: center;
}


.RSection{
    justify-self: end;
    display: grid;
    grid-template-columns:  1fr 1fr;
}

.Icon{
    width : 40px;
    height: 40px;
    padding: 0.5rem;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.CartIcon{
    width : 50px;
    height: 30px;
    padding: 0.5rem;
    border-radius: 50%;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    position: relative;
}


.Icon:hover{
    background-color: gray;
}

.NumofItemsinCart{
    
    position: absolute;
    top  : -0.3rem;
    right: 0.6rem;
    width: 1.8rem;
    height: 1.8rem;

}